.superhero {
  background-color: #f1f1f1;
  padding: 17px;
}
.superhero h2 {
  text-align: center;
}

.superhero img {
  width: 10vw;
  margin: 0 auto 15px auto;
  display: block;
  border-radius: 50%;
  height: 19vh;
}

.read-more {
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
}

.read-more:hover {
  color: #ed1d24;
}

.details {
  white-space: pre-line;
  margin-bottom: 10px;
}
